

    
<script th:fragment="metodosDetalles">

    function agregarDetalle(){
        // VALIDAMOS
        msjError = "";
        limpiarEstilos(['cantidad','codProducto','codProveedor','fechaVencimiento','costo']);


        msjError = validarPositividadYNulidad(msjError,'cantidad','Cantidad');
        msjError = validarPuntoDecimal(msjError,'cantidad','Cantidad');

        msjError= validarSelect(msjError,'codProducto',-1,'Producto');
        msjError= validarSelect(msjError,'codProveedor',-1,'Proveedor');

        msjError = validarNulidad(msjError,'fechaVencimiento','Fecha de Vencimiento');

        msjError = validarPositividadYNulidad(msjError,'costo','Costo');


        cantidad = document.getElementById('cantidad').value;
        codProducto = document.getElementById('codProducto').value;
        codProveedor = document.getElementById('codProveedor').value;
        fechaVencimiento= document.getElementById('fechaVencimiento').value;
        costo= document.getElementById('costo').value;
        
        if(msjError!=""){
            //alerta(msjError);
            alerta(msjError);
            return false;
        }

        // FIN DE VALIDACIONES

        lote.push({
            cantidad:cantidad,
            producto:listaProductos.find(m => m.codProducto == codProducto),
            proveedor:listaProveedores.find(m => m.codProveedor == codProveedor),         
            fechaVencimiento:fechaVencimiento,
            costo:costo
        });        
        cont++;
        actualizarTabla();

        console.log(lote)

        $('#cantidad').val('');
        $('#codProducto').val(-1);
        $('#codProveedor').val(-1);
        $('#fechaVencimiento').val('');
        $('#costo').val('');
    }

    function editarDetalle(index){

        $('#cantidad').val(lote[index].cantidad);
        $('#codProducto').val(lote[index].producto.codProducto);
        $('#codProveedor').val(lote[index].proveedor.codProveedor);
        $('#fechaVencimiento').val(lote[index].fechaVencimiento);
        $('#costo').val(lote[index].costo);

        indexAEliminar = index;
        
        ejecutarEliminacionDetalle();
    }

    indexAEliminar = 0;
    /* Eliminar productos */
    function eliminardetalle(index){
        
        $('#cantElementos').val(cont); 

        indexAEliminar = index;
        confirmarConMensaje("Confirmación","¿Desea eliminar el item N° "+(index+1)+"?",'warning',ejecutarEliminacionDetalle);    
    }

    /* Eliminar productos */
    function ejecutarEliminacionDetalle(){
        cont = cont - 1;
        lote.splice(indexAEliminar,1);
        console.log('BORRANDO LA FILA' + indexAEliminar);
        actualizarTabla();
    }




    function actualizarTabla(){
        //funcion para poner el contenido de detallesVenta en la tabla
        //tambien actualiza el total
        //$('#detalles')
        total=0;
        //vaciamos la tabla
        for (let index = 100; index >=0; index--) {
            $('#fila'+index).remove();
            //console.log('borrando index='+index);
        }
        
        //insertamos en la tabla los nuevos elementos
        for (let item = 0; item < lote.length; item++) {
            element = lote[item];
            cont = item+1;

            total=total +parseFloat(element.costo); 

            //importes.push(importe);
            //item = getUltimoIndex();
            var fila= ` <tr class="selected" id="fila`+item+`">          
                            <td>            
                                <input type="text" class="form-control" value="`+element.cantidad+`" readonly>
                            </td>  
                            <td >            
                                <input type="text" class="form-control" value="`+element.producto.nombre+`" readonly>
                            </td>             
                            <td>               
                                <input type="text" class="form-control" value="`+element.proveedor.nombre+`" readonly>
                            </td>             
                            <td style="text-align:center;">
                                <input type="text" class="form-control" value="`+element.fechaVencimiento+`" readonly style="text-align: center">
                            </td>              
                            <td>              
                                <input type="text" class="form-control" value="S/. `+element.costo+`" readonly>
                            </td>              
                            <td style="text-align:center;">              
                                <button type="button" class="btn btn-danger btn-xs" onclick="eliminardetalle(`+item+`);">
                                    <i class="fa fa-times" ></i>              
                                </button>             
                                <button type="button" class="btn btn-xs" onclick="editarDetalle(`+item+`);">
                                    <i class="fas fa-pen"></i>            
                                </button> 
                            </td>               
                        </tr>`;


            $('#detalles').append(fila); 
        }

        $('#totalMostrado').val("S/. "+number_format(total,2));
        $('#cantElementos').val(cont);
        

        document.getElementById('json_detalles').value = JSON.stringify(lote);
    }
</script>
