<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: headGeneral">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav th:replace="index :: navGeneral"></nav>
        <aside th:replace="index :: asideGeneral"></aside>
      	
        <div class="content-wrapper">
            <section class="content">
                
                 
                <form id="formPuntoVenta" name="formPuntoVenta" th:action="@{/PuntoVenta/Guardar}" method="POST">

                    <div class="row ml-5 mr-5">
                        <div class="col">
                            <label for="">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre producto">
                        </div>
                        <div class="col">
                            <label for="">Codigo Legible</label>
                            <input type="text" class="form-control" id="codigoLegible" name="codigoLegible"  placeholder="Código prod">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label for="">Precio Actual</label>
                            <input type="number" class="form-control" id="precioActual" name="precioActual"  placeholder="Precio">
                        </div>
                        <div class="col">
                            <label for="">Categoria</label>
                            <select class="form-control" name="codCategoria" id="codCategoria">
                                <option value="-1">- Categoria -</option>
                                <option  th:each="pers : ${listaCajeros}" th:value="${pers.codPersonal}" th:text="${pers.gNombreCompleto()}">
                                </option>

                            </select>
                        </div>
                        
                        <div class="w-100"></div>

                        <div class="col">


                            <div class="row m-4">
 
                                <div class="col text-left">
                                    <a class="btn btn-primary" href="">
                                        
                                        <i class="fas fa-backward"></i>
                                        Menú principal
                                    </a>
        
                                </div>
                                <div class="col text-right">
        
                                    <button class="btn btn-primary" type ="button" onclick="clickGuardar()">
                                        <i class="fas fa-save"></i>
                                        Guardar
                                    </button>
        
                                </div>
        
                            </div>
                        </div>
                        
                    </div>

                    
                </form>

            </section>
        </div>
       
        <footer th:replace="index :: footerGeneral"></footer>
    </div>
    <th:block  th:replace="index :: scriptGeneral"></th:block>
</body>

<script th:replace = "Layout/ValidatorJS :: validatorJS"></script>

<script>

    function clickGuardar(){
        msj = validarForm();
        if(msj!=""){
            alerta(msj);
            return;
        }
        document.formPuntoVenta.submit();
    }
    
    function validarForm(){
        limpiarEstilos(['nombre','codigoLegible','precioActual','codCategoria']);
        msj = "";

        msj = validarTamañoMaximoYNulidad(msj,'nombre',200,'Nombre');
        msj = validarTamañoMaximoYNulidad(msj,'codigoLegible',100,'Código del producto');

        msj = validarPositividadYNulidad(msj,'precioActual','Precio actual')
        msj = validarSelect(msj,'codCategoria','-1','Categoría');
        return msj;

    }

</script>


</html>