<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: headGeneral">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav th:replace="index :: navGeneral"></nav>
        <aside th:replace="index :: asideGeneral"></aside>
      	
        <div class="content-wrapper">
            <section class="content">
                
                
                
                <div th:replace="Layout/Mensaje"></div>
	            
                <div class="row m-1">


                    <a class="btn btn-primary" href="/PuntosVenta/Crear">
                        <i class="fas fa-plus"></i>
                        Nuevo puntoVenta
                    </a>
                    
                </div>

                <table class="m-3 table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                Punto
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Cajero
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>
                                Opciones
                            </th>

                        </tr>
                    </thead>    
                    <tbody>
                        <tr th:each="puntoVenta : ${listaPuntosVenta}"  th:class="${puntoVenta.gColor()}" >
                            <td  th:text="${puntoVenta.codPunto}">
                             
                            </td>
                            <td th:text="${puntoVenta.nombre}">
                             
                            </td>
                            <td th:text="${puntoVenta.gCajero().gNombreCompleto()}">
                             
                            </td>
                            <td th:text="${puntoVenta.direccion}">
                             
                            </td>
                            <td th:text="${puntoVenta.gEstado()}">

                            </td>
                            <td>
                                


                                <!-- HABILITADO -->
                                <span th:if="${puntoVenta.estaActivo ()}">
                                    <a class="btn btn-info btn-xs" th:href="@{'/PuntosVenta/Editar/' + ${puntoVenta.codPunto}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                     
                                    <button class="btn btn-danger btn-xs" type="button" 
                                        th:attr="onclick=${
                                            'clickDeshabilitar('
                                            + puntoVenta.codPunto 
                                            + ',`'
                                            + puntoVenta.nombre 
                                            + '`)'
                                            }">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </span>

                                <!-- DESHABILITADO -->
                                <span th:if="${!puntoVenta.estaActivo ()}">
                                    <button class="btn btn-success btn-xs" type="button" 
                                        th:attr="onclick=${
                                            'clickHabilitar('
                                            + puntoVenta.codPunto 
                                            + ',`'
                                            + puntoVenta.nombre 
                                            + '`)'
                                            }">
                                            <i class="fas fa-level-up-alt"></i>
                                    </button>
                                </span>

                               
                            </td>


                        </tr>
                    </tbody>
                    
                </table>
                

            </section>
        </div>
       
        <footer th:replace="index :: footerGeneral"></footer>
    </div>
    <th:block  th:replace="index :: scriptGeneral"></th:block>

    <style>
        .rojo{
            background-color: rgba(211, 136, 136, 0.445);
        }

    </style>
</body>
<script th:replace = "Layout/ValidatorJS :: validatorJS"></script>

<script>

    codPuntoADeshabilitar = 0;
    function clickDeshabilitar(codPunto,nombre){
    
        codPuntoADeshabilitar = codPunto; 
        confirmarConMensaje("Confirmación","¿Desea DESHABILITAR el punto de venta '" + nombre + "'?","warning",ejecutarDeshabilitar)

        
    }
    
    function ejecutarDeshabilitar(){
       location.href = "/PuntosVenta/Deshabilitar/" + codPuntoADeshabilitar;

    }




    
    codPuntoAHabilitar = 0;
    function clickHabilitar(codPunto,nombre){
    
        codPuntoAHabilitar = codPunto; 
        confirmarConMensaje("Confirmación","¿Desea HABILITAR el punto de venta '" + nombre + "'?","warning",ejecutarHabilitar)

        
    }
    
    function ejecutarHabilitar(){
       location.href = "/PuntosVenta/Habilitar/" + codPuntoAHabilitar;

    }

</script>

</html>