<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: headGeneral">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav th:replace="index :: navGeneral"></nav>
        <aside th:replace="index :: asideGeneral"></aside>
      	
        <div class="content-wrapper">
            <section class="content">
                
                
                
                <div th:replace="Layout/Mensaje"></div>
	            
                <div class="row m-1">


                    <a class="btn btn-primary" href="/PuntosVenta/Crear">
                        <i class="fas fa-plus"></i>
                        Nuevo puntoVenta
                    </a>
                    
                </div>

                <table class="m-3 table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>
                                Punto
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Cajero
                            </th>
                            <th>
                                Direccion
                            </th>
                            <th>
                                Opciones
                            </th>

                        </tr>
                    </thead>    
                    <tbody>
                        <tr th:each="puntoVenta : ${listaPuntosVenta}" >
                            <td  th:text="${puntoVenta.codPunto}">
                             
                            </td>
                            <td th:text="${puntoVenta.nombre}">
                             
                            </td>
                            <td th:text="${puntoVenta.gCajero().gNombreCompleto()}">
                             
                            </td>
                            <td th:text="${puntoVenta.direccion}">
                             
                            </td>
                            <td>
                                <a class="btn btn-info btn-xs" th:href="@{'/PuntosVenta/Editar/' + ${puntoVenta.codPuntoVenta}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                               
                            </td>


                        </tr>
                    </tbody>
                    
                </table>
                

            </section>
        </div>
       
        <footer th:replace="index :: footerGeneral"></footer>
    </div>
    <th:block  th:replace="index :: scriptGeneral"></th:block>

    <style>
        .rojo{
            background-color: rgba(211, 136, 136, 0.445);
        }

    </style>
</body>
</html>